@model successModel
<h1>Welcome @Model.userLogged.fname @Model.userLogged.lname</h1>

<form asp-controller="Home" asp-action="newPost" method="Post">
    <div class="form-group">
        <span class="text-danger font-weight-bold" asp-validation-for="post.Content"></span>
        <label asp-for="post.Content"></label>
        <textarea class="form-control" asp-for="post.Content"></textarea>
        <button class="btn btn-info">Submit!</button>
    </div>
</form>

@foreach(var post in Model.allP){
    <div class="card">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">@post.Creator.fname @post.Creator.lname said:</h6>
            <p class="card-text">@post.Content</p>
            <p class="text-muted">Posted on: @post.CreatedAt</p>
            @if(post.UserId == Model.userLogged.UserId){
                <form mathod="post" asp-action="delete" asp-controller="Home" asp-route-pId="@post.PostId">
                    <button class="btn btn-outline-warning">Delete</button>
                </form>
                <a asp-action="edit" asp-route-pId="@post.PostId" asp-controller="Home" class="btn btn-outline-info">edit</a>
            }
            @{var didVote = post.Votes.FirstOrDefault(u=>u.UserId==post.UserId);} // searching on the specific post the user that posted it that is logged in
            <p>@post.Votes.Count</p>
            @if(didVote==null){ // if no voted found by the user that is logged in on this post show wmpty buttons
                <div class="form-check form-check-inline float-right">
                    <form asp-controller="Home" asp-action="Vote" asp-route-vote="true" asp-route-pId="@post.PostId">
                        <button class="form-check-input btn btn-outline-success">&uarr;</button>
                    </form>
                    <form asp-controller="Home" asp-action="Vote" asp-route-vote="false" asp-route-pId="@post.PostId">
                        <button class="form-check-input btn btn-outline-danger">&darr;</button>
                    </form>
                </div>
            }else{
                if(didVote.IsUpvote==true){ // if found and is upvote, color the upvote button
                    <form asp-controller="Home" asp-action="Vote" asp-route-vote="true" asp-route-pId="@post.PostId">
                        <button class="btn btn-success">&uarr;</button>
                    </form>
                    <form asp-controller="Home" asp-action="Vote" asp-route-vote="false" asp-route-pId="@post.PostId">
                        <button class="form-check-input btn btn-outline-danger">&darr;</button>
                    </form>
                }else{ // if found and is downvote, color the downvote button
                    <form asp-controller="Home" asp-action="Vote" asp-route-vote="true" asp-route-pId="@post.PostId">
                        <button class="form-check-input btn btn-outline-success">&uarr;</button>
                    </form>
                    <form asp-controller="Home" asp-action="Vote" asp-route-vote="false" asp-route-pId="@post.PostId">
                        <button class="btn btn-danger" >&darr;</button>
                    </form>
                }
            }
        </div>
    </div>
}