@model dashboard
<h1>Welcome to the Wedding Planner</h1>
<a asp-action="Logout" asp-controller="Home">Logout</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Wedding</th>
      <th scope="col">Date</th>
      <th scope="col">Guest</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
    <tbody>
      @foreach(var wedding in Model.weddingList){
        <tr>
        <td><a asp-action="ShowWedding" asp-route-WeddingId="@wedding.WeddingId" asp-controller="Home">@wedding.WedderOne & @wedding.WedderTwo</a></td>
        <td>@wedding.WeddingDate</td>
        <td>@wedding.CreatedRsvp.Count</td>
        @if(wedding.Userid == Model.userLogged.UserId){
        <td> <form asp-action="delete" asp-route-WeddingId="@wedding.WeddingId" asp-controller="Home" method="post">
          <button> Delete Your Dreams </button>
          </form>
          </td>
        }
        else if(wedding.CreatedRsvp.Any(a => a.UserId == Model.userLogged.UserId))
        {
          <td>
            <form asp-action="UnRsvp" asp-route-WeddingId="@wedding.WeddingId" asp-controller="Home" method="post">
              <button>UnRsvp</button>
            </form>
          </td>
        }
        else
        {
          <td>
            <form asp-action="Rsvp" asp-route-WeddingId="@wedding.WeddingId" asp-controller="Home" method="post">
              <button>Rsvp</button>
            </form>
          </td>
        }
        
        </tr>
        
    }
  </tbody>
</table>
<a asp-action="Create" asp-controller="Home">Add New Wedding</a>